# avoiding those huge .xlsx and data images
data/images/
data/*.csv

# avoiding the trained model .pth path files
checkpoints/ 

# API key - Secure
.env

# python internals
__pycache__/

# virtual envi for python 
venv/

# models foler
models/